<div class="ragistration-top">
    
    <h1>YUKIYAMA Conditionへようこそ！</h1>
    
    
    <p>
      このサイトでは、全国のスキー場経営者によるゲレンデ情報や、ユーザーの皆様の投稿・<br>
      レビューによってリアルタイムでスキー場の情報を確認することができます。
    </p>
    
    
    <div class="btn-block">
      <%= link_to "会員登録はこちら", new_customer_registration_path, class: "customer_registration_btn" %>
    </div>
    
    <div class="btn-block">
      <%= link_to "スキー場経営者登録はこちら", new_owner_registration_path, class: "owner_registration_btn" %>
    </div>
    
    
</div>