<div class="session-top">
      
    <h1>YUKIYAMA Conditionへようこそ！</h1>
    
    
    <p>
      このサイトでは、全国のスキー場経営者によるゲレンデ情報や、ユーザーの皆様の投稿・<br>
      レビューによってリアルタイムでスキー場の情報を確認することができます。
    </p>
    
    
    <div class="btn-block">
      <%= link_to "ログインはこちら", new_customer_session_path, class: "customer_session_btn" %>
    </div>
    
    <div class="btn-block">
      <%= link_to "スキー場経営者ログインはこちら", new_owner_session_path, class: "owner_session_btn" %>
    </div>
    
    
</div>