<div class="top-header">
    
  <h1>YUKIYAMA Condition</h1>
  
  <p>
    ようこそYUKIYAMA Conditionへ！<br>
    このサイトでは、全国のスキー場の情報をリアルタイムで見ることができます！<br>
    スキー場経営者からの投稿や、利用したユーザーのレビューを参考に<br>
    あなたのスキー・スノーボードライフを充実させましょう！
  </p>
  
</div>