<div id="page" class="user-page">
  
  <h1><%= @owner.owner_name %>さんの会員情報編集</h1>
  
  
  <%= form_with model: @owner, url: admin_owner_path do |f| %>
    
    <table>
      
      <tr>
        <th>経営者名</th>
        <td><%= f.text_field :owner_name %></td>
      </tr>
      
      <tr>
        <th></th>
        <td><%= f.submit "変更内容を保存", class: "success-edit-btn" %> </td>
      </tr>
      
    </table>
    
  <% end %>
  
</div>