<div id="page">
    
  <h1>経営者一覧</h1>
  
  
  <table class="index-table">
    
    <thead>
      <tr>
        <th>経営者ID</th>
        <th>経営者名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= link_to owner.owner_name, admin_owner_path(owner) %></td>
          <td><%= owner.email %></td>
          <td>
            <% if owner.is_active %>
              有効
            <% else %>
            　退会
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
     
  </table>
  
  <%= paginate @owners %>
  
</div>