/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 
 
 body{
   background-color: #EEFFFF;
 }
 
 
 
header{
  width: 100%;
  height: 80px;
  background-color: #99CCCC;
  display: flex;
}


header h2{
  line-height: 80px;
  margin-left: 100px;
  font-family: fantasy;
}


header a{
  text-decoration: none;
  color: black;
}


header ul{
  list-style: none;
}


header li{
  margin-top: 50px;
  font-size: 20px;
}




#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}


.menu-trigger,
.menu-trigger span{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}


.menu-trigger{
  position: relative;
  width: 50px;
  height: 44px;
}


.menu-trigger span{
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}


.menu-trigger span:nth-child(1){
  top: 0;
}

.menu-trigger span:nth-child(2){
  top: 20px;
}

.menu-trigger span:nth-child(3){
  bottom: 0;
}


.menu-trigger.active span:nth-child(1){
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #000;
}

.menu-trigger.active span:nth-child(2){
  opacity: 0;
}

.menu-trigger.active span:nth-child(3){
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #000;
}




#header-menu{
  position: fixed;
  top: 0;
  left: 0;
  background: #99CCCC;
  color: #000;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}


#header-menu li{
  text-align: center;
  margin-bottom: 30px;
}


#header-menu a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}




/*TOPページ*/
.top-header{
  height: 250px;
  width: 100%;
  text-align: center;
  background-image: url("R.jpg");
  background-size: cover;
}


.top-header h1{
  font-family: fantasy;
  font-size: 55px;
  padding-top: 10px;
}


.top-header p{
  font-weight: bold;
  padding-top: 20px;
  font-size: 18px;
}




/*新規登録TOPページ*/
.ragistration-top{
  height: 750px;
  width: 100%;
  background-image: url("360_F_90635540_U1KKezaNCocRD8Dr8v7kPugEWfELLfng.jpg");
  background-size: cover;
  text-align: center;
}


.ragistration-top h1{
  padding-top: 60px;
  font-size: 40px;
  
}


.ragistration-top p{
  margin-top: 30px;
  padding-bottom: 80px;
  font-size: 25px;
}


.btn-block{
  margin-top: 40px;
}


.customer_registration_btn{
  display: inline-block;
  width: 100%;
  max-width: 600px;
  position: relative;
  background: #00CC66;
  border: 2px solid #00CC66;
  padding: 1em 2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}


.customer_registration_btn:before{
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #EEFFFF;
  border-right: 2px solid #EEFFFF;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}


.customer_registration_btn:hover{
  background: #EEFFFF;
  color: #00CC66;
}


.customer_registration_btn:hover:before{
  border-top: 2px solid #00CC66;
  border-right: 2px solid #00CC66;
}



.owner_registration_btn{
  display: inline-block;
  width: 100%;
  max-width: 350px;
  position: relative;
  background: #4D9BC1;
  border: 2px solid #4D9BC1;
  padding: 1em 2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}


.owner_registration_btn:before{
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #EEFFFF;
  border-right: 2px solid #EEFFFF;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}


.owner_registration_btn:hover{
  background: #EEFFFF;
  color: #4D9BC1;
}


.owner_registration_btn:hover:before{
  border-top: 2px solid #4D9BC1;
  border-right: 2px solid #4D9BC1;
}



/*ログインTOPページ*/
.session-top{
  height: 750px;
  width: 100%;
  background-image: url("blue-mountains-glacier-snow-600nw-2201620793.jpeg");
  background-size: cover;
  text-align: center;
}


.session-top h1{
  padding-top: 60px;
  font-size: 40px;
}


.session-top p{
  margin-top: 30px;
  padding-bottom: 80px;
  font-size: 25px;
}


.customer_session_btn{
  display: inline-block;
  width: 100%;
  max-width: 600px;
  position: relative;
  background: #0066FF;
  border: 2px solid #0066FF;
  padding: 1em 2em;
  font-weight: bold;
  color: #EEFFFF;
  text-decoration: none;
  transition-duration: 0.3s;
}


.customer_session_btn:before{
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #EEFFFF;
  border-right: 2px solid #EEFFFF;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}


.customer_session_btn:hover{
  background: #EEFFFF;
  color: #0066FF;
}


.customer_session_btn:hover:before{
  border-top: 2px solid #0066FF;
  border-right: 2px solid #0066FF;
}



.owner_session_btn{
  display: inline-block;
  width: 100%;
  max-width: 350px;
  position: relative;
  background: #4D9BC1;
  border: 2px solid #4D9BC1;
  padding: 1em 2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}


.owner_session_btn:before{
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #EEFFFF;
  border-right: 2px solid #EEFFFF;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}


.owner_session_btn:hover{
  background: #EEFFFF;
  color: #4D9BC1;
}


.owner_session_btn:hover:before{
  border-top: 2px solid #4D9BC1;
  border-right: 2px solid #4D9BC1;
}




/*新規登録・ログインページ*/
.registration{
  width:700px;
  margin-right: auto;
  margin-left : auto;
}


.registration h2{
  font-size: 35px;
  padding-top: 50px;
}


.registration p{
  font-size: 25px;
}


.registration table{
  cellpadding: 10;
  font-size: 20px;
  padding: 30px 0;
}


.registration td{
  padding-bottom: 25px;
}


input[type="text"]{
  width: 250px;
  height: 40px;
}


input[type="email"]{
  width: 250px;
  height: 40px;
}


input[type="password"]{
  width: 250px;
  height: 40px;
}


.signin-submit{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 80px;
  background-color: #009900;
  color: #fff;
  border-color: #009900;
}


.login-submit{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 80px;
  background-color: #0000FF;
  color: #fff;
  border-color: #009900;
}




#page{
  width:1000px;
  margin-right: auto;
  margin-left : auto;
}


#page h1{
  padding-top: 60px;
  font-size: 35px;
}


.success-btn{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 80px;
  background-color: #009900;
  color: #fff;
  border-color: #009900;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}


.primary-btn{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 80px;
  background-color: #0000FF;
  color: #fff;
  border-color: #009900;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}




/*都道府県追加ページ*/
.form td{
  padding-left: 15px;
}


.prefecture-page h1{
  padding-bottom: 20px;
}





.index-table{
  width: 900px;
  text-align: left;
  border-collapse: collapse;
  margin-top: 30px;
}


.index-table th{
  padding: 20px 10px;
  border-bottom: solid 5px #748ca5;
}


.index-table td{
  padding: 20px 10px;
  border-bottom: solid 1px #748ca5;
}




/*会員ページ*/
.user-page table{
  cellpadding: 10;
  font-size: 25px;
  padding: 50px 0;
  text-align: left;
}


.user-page td{
  padding-left: 50px;
}


.table-second{
  padding: 30px 0; 
}


.success-edit-btn{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 120px;
  background-color: #009900;
  color: #fff;
  border-color: #009900;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
}




/*経営者スキー場一覧ページ*/
.owner-ski-resorts-head{
  display: flex;
}


.ski-resort-new-btn{
  box-shadow: 3px 3px 3px gray;
  height: 40px;
  width: 150px;
  background-color: #009900;
  color: #fff;
  border-color: #009900;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  margin-top: 65px;
  margin-left: 400px;
}


.ski-resort-index{
  display: flex;
}


.ski-resort-item{
  margin-right: 70px;
  margin-top: 30px;
}


.ski-resort-index-name{
  font-size: 20px;
}


.ski-resort-index-updated{
  color: gray;
}




/*スキー場新規登録ページ*/
.ski-resort-new table{
  font-size: 20px;
  padding: 50px 0;
  text-align: left;
}


.ski-resort-new td{
  padding-left: 80px;
  padding-bottom: 20px;
}


.ski-resort-new th{
  padding-bottom: 20px;
}


.ski-resort-new-head{
  display: flex;
}


.ski-resort-new-head h3{
  margin-top: 75px;
  margin-left: 20px;
  color: red;
}




/*スキー場詳細ページ*/
.ski-resort-show-up{
  display: flex;
  margin-top: 40px;
}


.flex{
  display: flex;
}


.danger-btn{
  box-shadow: 3px 3px 3px gray;
  height: 35px;
  width: 80px;
  background-color:#CC0000;
  color: #fff;
  border-color: #CC0000;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}


.ski-resort-show-up-right{
  margin-left: 40px;
}


.ski-resort-show-up-right h2{
  font-size: 30px;
}


.ski-resort-show-up-right h4{
  font-size: 22px;
}


.ski-resort-show-up-right p{
  margin: 50px 0;
}


.flex{
  align-items: center;
}


.ski-resort-show-up-right .success-btn{
  margin: 0 20px;
}


.favorite{
  font-size: 18px;
}


.ski-resort-show-under{
  display: flex;
  margin-top: 40px;
}


.ski-resort-show-under table{
  border-spacing: 70px 20px;
  font-size: 21px;
  text-align: left;
}


.review{
  margin-left: 60px;
}